<%= form_with(model: candidate) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :election_id %>
    <%= form.text_field :election_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :slogan %>
    <%= form.text_field :slogan %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.text_field :program %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
