<%= form_with(model: candidate) do |form| %>
  <% if candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
        <% candidate.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :election_id, :value => @election_id %>


  <div class="field">
    <p>Choissisez le candidats dans la liste : </p>
    <%= form.select :user_id, options_for_select(User.all.collect {|user| ["#{user.first_name} #{user.last_name}", user.id] }), :include_blank => 'Choississez un candidat :', :input_html => { :class => 'form-control' }, :style => '', required: true  %>
  </div>

  <div class="field mt-4 mb-3">
    <%= form.label :slogan %><br>
    <%= form.text_area :slogan %>
  </div>

  <div class="actions">
    <%= form.submit 'Valider la candidature', class: 'btn btn-primary' %>
  </div>
<% end %>
